<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.ufpb.pmi.learningtruetable">

    <application
        android:name=".LearningTTApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:screenOrientation="landscape"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.SplashActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.MainActivity"
            android:label="@string/title_activity_main"
            android:screenOrientation="landscape"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.SobreActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.ConquistasActivity"
            android:label="@string/title_activity_achiviments"
            android:screenOrientation="landscape" />
        <activity
            android:name=".view.ListaExercicioActivity"
            android:label="@string/title_activity_praticar"
            android:screenOrientation="landscape" />
        <activity android:name=".view.PraticasActivity"
            android:screenOrientation="landscape"/>
        <activity android:name=".view.AprenderActivity"
            android:screenOrientation="landscape"
            />
    </application>

</manifest>
